body{
	background-color: #3186A5;
}

#maintitle{
	text-align: center;
}


#mainheader{
	width: 500px;
	margin: 15px auto;
	padding: 5px;
	background: -webkit-linear-gradient(top, #00F, #3FF);
	border-radius: 15px;
	-webkit-transition:-webkit-transform 1s ease 0.1s;
	-webkit-transform:scale(0.8);
}

#mainheader:hover{
	-webkit-transform:rotate(5deg);
}


li{
	display: inline;
	margin: 10px 15px;
	padding: 5px 5px;
	background-color: #0A6C5F;
	border-radius: 10px;
	color: #ECF7F6;
}

h2:only-child{
	color: #3FF;
}

aside{
	height: 1400px;
	background-color: #9A35FF;
	float: left;
	padding: 10px;
	border-radius: 10px;
}

#maintext{
	margin-left: 280px;
	padding: 20px;
}

#mainfooter{
	clear: both;
	margin-top: 80px;
}

.titulo{
	text-align: center;
	font: bold 30px Verdana;
}

img{
	border-radius: 15px;
	-webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s; /*tiempo de duracion, efecto, tiempo de reconocer*/
	box-shadow: #666 5px 5px 8px;
	vertical-align: middle;

}

img:hover{
	-webkit-transform:scale(1.2);
}